h1 {
  text-align:center;

}

#gameBoard {
  width:100%;
  border: 1px solid black;
}

.cell {
  border: 1px solid black;
  width: 200px;
  height: 200px;
  text-align: center;
  font-size: 50px;
}

#scoreboard {
  width: 100%;
  text-align: center;
}

#scorecard {
  text-align: center;
  border: 1px solid black;
}

button {

}
